.mixin-grid-reset {
  clear: both;
  float: none;
  margin-left: 0;
  margin-right: 0;
  width: auto;
}
.mixin-clearfix:before,
.mixin-clearfix:after {
  content: "";
  display: table;
}
.mixin-clearfix:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background: #333e42;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #333e42;
  color: #ffffff;
  text-shadow: none;
}
html {
  color: #3b4d55;
  font: 400 15px 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100%;
  width: 100%;
  background: #ebeeed;
  line-height: 1.5em;
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 200ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: -moz-transform 50ms ease-out 0s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 0.75rem 0;
}
h1 {
  font-size: 2.25rem;
  font-weight: 300;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 1.05rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.5rem;
}
p.lead {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
a {
  color: #1ca382;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 50ms;
  transition: color 50ms;
}
a:hover {
  color: #0d4c3d;
}
a.referral {
  padding-left: 1rem;
  -webkit-transition: color 50ms, padding-left 50ms;
  transition: color 50ms, padding-left 50ms;
}
a.referral:hover {
  padding-left: 1.25rem;
}
a.referral:before {
  position: relative;
  top: 0.15rem;
  margin-right: 0.5rem;
}
small {
  font-size: 0.867rem;
  color: #86949b;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
code,
pre {
  font-family: 'courier new', monospace;
}
abbr {
  border-bottom: 1px dotted #86949b;
}
del {
  text-decoration: line-through;
}
mark {
  background-color: #ffffb3;
}
hr {
  background-color: transparent;
  border: solid #cbd1cf;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 1.5rem;
}
hr.is-wide {
  margin-left: 0;
  margin-right: 0;
}
ul,
ol {
  margin: 0 0 1.5rem 1.5em;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
dl {
  margin-bottom: 1.5rem;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 1.5rem;
}
dl.advanced:before,
dl.advanced:after {
  content: "";
  display: table;
}
dl.advanced:after {
  clear: both;
}
dl.advanced dt {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  clear: left;
  color: #86949b;
  font-weight: normal;
  padding-top: 0.5rem;
}
@media only screen and (min-width: 960px) {
  dl.advanced dt {
    padding-right: 0.5rem;
    text-align: left;
    word-wrap: break-word;
  }
}
dl.advanced dt:first-of-type {
  padding-top: 0;
}
dl.advanced dd {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  margin-left: 0;
}
@media only screen and (min-width: 960px) {
  dl.advanced dd {
    word-wrap: break-word;
  }
}
.is-hidden {
  display: none !important;
}
.is-hidden,
.is-invisible {
  visibility: hidden !important;
}
.is-active,
.is-visible {
  display: block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.nowrap {
  white-space: nowrap;
}
.font-is-small {
  font-size: 0.867rem;
}
.is-inactive {
  color: #86949b !important;
}
.is-inactive:hover {
  color: #86949b !important;
  background: initial !important;
  cursor: text;
}
.is-inactive i.flaticon:before {
  margin-right: 0.35rem;
}
@media only screen and (min-width: 767px) {
  .l-full {
    float: left;
    width: 97.91666666666667%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 767px) {
  .l-three-fourth {
    float: left;
    width: 64.58333333333334%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 960px) {
  .l-three-fourth {
    float: left;
    width: 72.91666666666667%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 767px) {
  .l-two-third {
    float: left;
    width: 64.58333333333334%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 767px) {
  .l-half {
    float: left;
    width: 47.91666666666667%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 767px) {
  .l-one-third {
    float: left;
    width: 31.250000000000004%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 767px) {
  .l-one-fourth {
    float: left;
    width: 31.250000000000004%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
@media only screen and (min-width: 960px) {
  .l-one-fourth {
    float: left;
    width: 22.916666666666668%;
    margin-left: 1.0416666666666667%;
    margin-right: 1.0416666666666667%;
  }
}
.l-narrow {
  clear: both;
}
@media only screen and (min-width: 960px) {
  .l-narrow {
    max-width: 70rem;
    margin: auto;
  }
}
.l-small {
  clear: both;
}
@media only screen and (min-width: 960px) {
  .l-small {
    max-width: 48rem;
    margin: auto;
  }
}
.l-medium {
  clear: both;
}
@media only screen and (min-width: 960px) {
  .l-medium {
    max-width: 40rem;
    margin: auto;
  }
}
div.l-container {
  min-height: 100%;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-flow: row;
  flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -ms-flex-wrap: none;
}
.l-first {
  clear: left;
}
.l-flex-content {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-flow: column;
  flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media only screen and (min-width: 767px) {
  .l-flex-content {
    margin-left: 16rem;
    position: relative;
  }
}
table.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 1.5rem 1.5rem 0;
}
table.table th {
  background: #cbd1cf;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  font-size: 0.867rem;
  color: #49636f;
  padding: 0.3rem 1rem 0.35em 1rem;
  border-bottom: 1px solid #86949b;
  border-left: 1px solid rgba(134, 148, 155, 0.3);
  box-shadow: 0px 1px 0px #ffffff;
}
table.table th:first-of-type {
  border-left: 0;
}
table.table td {
  border-bottom: 1px solid #cbd1cf;
  border-left: 1px solid #cbd1cf;
  box-shadow: inset 0px 1px 0px #ffffff;
  vertical-align: middle;
  width: 10rem;
  height: 2rem;
  padding: 0.2rem;
}
table.table td:first-of-type {
  width: 5rem;
  border-left: 0;
  background: rgba(203, 209, 207, 0.5);
  text-align: left;
  color: #49636f;
  border-bottom: 1px solid #cbd1cf;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3);
}
table.table td:first-of-type .story {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: transparent;
}
table.table tr:first-child td {
  box-shadow: 0 0 0;
}
.icoontjes {
  display: none;
  position: absolute;
  top: 0.3rem;
  right: 0.8rem;
  width: 1rem;
}
.icoontjes .ui-icon {
  margin-right: 1px;
}
.icoontjes .ui-icon-circle-check {
  margin: 0 0 2px;
}
.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-flow: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-height: 3em;
  min-width: 7rem;
  padding: 0.3rem 0.8rem;
  padding-right: 2.5rem;
  white-space: normal;
  overflow: hidden;
  position: relative;
  background: #dbdfde;
  margin-bottom: 0.2rem;
  cursor: pointer;
}
.story:last-of-type,
.story:only-child {
  margin-bottom: 0;
}
.story span {
  display: block;
}
.story:hover {
  background: #cbd1cf;
}
.story:hover .icoontjes {
  display: block;
}
.story.activated {
  color: #ffffff;
  background-color: #1ca382;
}
.story.activated:hover {
  background: #17856a;
}
.story.activated:hover .icoontjes {
  display: block;
}
.story.activated .icoontjes {
  display: none;
}
.story.activated .ui-icon {
  background-image: url(ui-lightness/images/ui-icons_ffffff_256x240.png);
}
.ui-draggable-dragging {
  font-weight: normal;
  color: #3b4d55;
  border: 1px solid #3b4d55;
  opacity: 0.8;
}
.ui-draggable-dragging .icoontjes {
  display: none!important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 0;
  background: #f97e75;
  font-weight: normal;
  color: #3b4d55;
}
.ui-state-hover .icoontjes,
.ui-widget-content .ui-state-hover .icoontjes,
.ui-widget-header .ui-state-hover .icoontjes,
.ui-state-focus .icoontjes,
.ui-widget-content .ui-state-focus .icoontjes,
.ui-widget-header .ui-state-focus .icoontjes {
  display: none!important;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
div.button--wrapper {
  display: inline-block;
  margin: 5px 0 0 1.5rem;
  float: right;
}
.include-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.867rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem !important;
  padding: 0.35rem 1rem;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}
.include-button.is-small {
  font-size: 0.733rem;
  padding: 0.2rem 0.65rem;
}
.include-button:before {
  margin-right: 0.5rem;
  position: relative;
  top: 0.05rem;
}
.button,
input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.867rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem !important;
  padding: 0.35rem 1rem;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #ffffff;
  background-color: #3b4d55;
  background-image: -webkit-linear-gradient(top, #49636f, #3b4d55);
  background-image: -moz-linear-gradient(top, #49636f, #3b4d55);
  background-image: linear-gradient(top, #49636f, #3b4d55);
  border: 2px solid #3b4d55;
  -webkit-font-smoothing: antialiased;
}
.button.is-small,
input[type=submit].is-small,
input[type=button].is-small,
button.is-small {
  font-size: 0.733rem;
  padding: 0.2rem 0.65rem;
}
.button:before,
input[type=submit]:before,
input[type=button]:before,
button:before {
  margin-right: 0.5rem;
  position: relative;
  top: 0.05rem;
}
.button:hover,
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  background: #3b4d55;
  color: #ffffff;
}
.button:active,
input[type=submit]:active,
input[type=button]:active,
button:active {
  background: #333e42;
  border-color: #333e42;
}
.button-detail,
input[type=submit].button-detail,
input[type=button].button-detail,
button.button-detail {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.867rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem !important;
  padding: 0.35rem 1rem;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #ffffff;
  background-color: #17856a;
  background-image: -webkit-linear-gradient(top, #1ca382, #17856a);
  background-image: -moz-linear-gradient(top, #1ca382, #17856a);
  background-image: linear-gradient(top, #1ca382, #17856a);
  border: 2px solid #17856a;
  -webkit-font-smoothing: antialiased;
}
.button-detail.is-small,
input[type=submit].button-detail.is-small,
input[type=button].button-detail.is-small,
button.button-detail.is-small {
  font-size: 0.733rem;
  padding: 0.2rem 0.65rem;
}
.button-detail:before,
input[type=submit].button-detail:before,
input[type=button].button-detail:before,
button.button-detail:before {
  margin-right: 0.5rem;
  position: relative;
  top: 0.05rem;
}
.button-detail:hover,
input[type=submit].button-detail:hover,
input[type=button].button-detail:hover,
button.button-detail:hover {
  background: #17856a;
  color: #ffffff;
}
.button-detail:active,
input[type=submit].button-detail:active,
input[type=button].button-detail:active,
button.button-detail:active {
  background: #0d4c3d;
  border-color: #0d4c3d;
}
.button-action,
input[type=submit].button-action,
input[type=button].button-action,
button.button-action {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.867rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem !important;
  padding: 0.35rem 1rem;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #ffffff;
  background-color: #f73e31;
  background-image: -webkit-linear-gradient(top, #f85e53, #f73e31);
  background-image: -moz-linear-gradient(top, #f85e53, #f73e31);
  background-image: linear-gradient(top, #f85e53, #f73e31);
  border: 2px solid #f73e31;
  -webkit-font-smoothing: antialiased;
}
.button-action.is-small,
input[type=submit].button-action.is-small,
input[type=button].button-action.is-small,
button.button-action.is-small {
  font-size: 0.733rem;
  padding: 0.2rem 0.65rem;
}
.button-action:before,
input[type=submit].button-action:before,
input[type=button].button-action:before,
button.button-action:before {
  margin-right: 0.5rem;
  position: relative;
  top: 0.05rem;
}
.button-action:hover,
input[type=submit].button-action:hover,
input[type=button].button-action:hover,
button.button-action:hover {
  background: #f73e31;
  color: #ffffff;
}
.button-action:active,
input[type=submit].button-action:active,
input[type=button].button-action:active,
button.button-action:active {
  background: #dc1709;
  border-color: #dc1709;
}
.button-soft,
input[type=submit].button-soft,
input[type=button].button-soft,
button.button-soft {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 0.867rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem !important;
  padding: 0.35rem 1rem;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: #ebeeed;
  background: transparent;
  border: 2px solid #1ca382;
}
.button-soft.is-small,
input[type=submit].button-soft.is-small,
input[type=button].button-soft.is-small,
button.button-soft.is-small {
  font-size: 0.733rem;
  padding: 0.2rem 0.65rem;
}
.button-soft:before,
input[type=submit].button-soft:before,
input[type=button].button-soft:before,
button.button-soft:before {
  margin-right: 0.5rem;
  position: relative;
  top: 0.05rem;
}
.button-soft:hover,
input[type=submit].button-soft:hover,
input[type=button].button-soft:hover,
button.button-soft:hover {
  background: #17856a;
  color: #ffffff;
  border: 2px solid #17856a;
}
.button-soft:active,
input[type=submit].button-soft:active,
input[type=button].button-soft:active,
button.button-soft:active {
  background: #0d4c3d;
  border-color: #0d4c3d;
  border: 2px solid #17856a;
}
div.content {
  padding: 0.75rem;
}
div.content:before,
div.content:after {
  content: "";
  display: table;
}
div.content:after {
  clear: both;
}
@media only screen and (min-width: 767px) {
  div.content {
    padding: 1.5rem;
  }
}
div.content.has-no-padding {
  padding: 0;
}
.has-horizontal-scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.content--header {
  padding: 0.75rem;
  background: #333e42;
  box-shadow: inset 0px -1px 2px #cbd1cf, 0px 1px rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 767px) {
  .content--header {
    padding: 1.5rem;
  }
}
.content--header h1 {
  color: #ebeeed;
  margin: 0;
  display: inline-block;
}
div.content--buttons {
  position: relative;
  top: -1px;
  padding: 0.75rem;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  background: #cbd1cf;
}
div.content--buttons:before,
div.content--buttons:after {
  content: "";
  display: table;
}
div.content--buttons:after {
  clear: both;
}
@media only screen and (min-width: 960px) {
  div.content--buttons {
    padding: 1.5rem;
  }
}
div.content--buttons small {
  color: #49636f;
  display: block;
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 590px) {
  div.content--buttons small {
    display: inline-block;
    padding-top: 0.5rem;
    float: left;
  }
}
div.content--buttons .button,
div.content--buttons .button-detail,
div.content--buttons .button-soft,
div.content--buttons .button-action,
div.content--buttons input[type=submit],
div.content--buttons button {
  display: block;
  text-align: center;
  margin-bottom: 0.25rem;
}
@media only screen and (min-width: 590px) {
  div.content--buttons .button,
  div.content--buttons .button-detail,
  div.content--buttons .button-soft,
  div.content--buttons .button-action,
  div.content--buttons input[type=submit],
  div.content--buttons button {
    display: inline-block;
    float: right;
    margin-left: 0.25rem;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100%!important;
  }
  @page  {
    margin: 2cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
#removeArea {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 96px;
  line-height: 96px;
  z-index: 1;
  background-color: #f85e53;
  font-size: 30px;
  text-align: center;
}
