#board
{
	border-collapse: collapse;
}

#board #thead .cell {
	border-top: 1px dashed DarkGray;
}

#board .cell {
	border-right: 1px dashed DarkGray;
	border-bottom: 1px dashed DarkGray;
	width: 10em;
	margin: 3px;
	vertical-align: top;
}

#board #tbody .cell {
		height: 2em;
}

#board #thead .cell {
	text-align: center;
}

#board #thead span {
	padding-bottom: 3px;
	padding-top: 3px;
	display: inline-block;
}

.story {
	background-color: rgb(220, 220, 220);
	border: 3px solid DarkGray;
	min-height: 3em;
	margin: 3px;
}

.story .storyText {
	display: block;
	width: 80%;
	padding: 0.1rem 0.2rem;
}

.icoontjes {
	width: 1em;
	float: right;
}

.icoontjes .ui-icon-circle-check {
	margin-bottom: 0;
	margin-top: 100%;
}

.right {
	float: right;
}

.ui-icon {
	display: none;
}

.story:hover .ui-icon {
	display: block;
}

.activated {
	background-color: rgb(28, 163, 130);
}
