//========== Icoontjes

.icoontjes {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid fade(@white, 20%);
    padding: 0.7rem 0.75rem;
    right: 0;

	.ui-icon {
		position: relative;
		background: none; 
		text-indent: 0;
		color: fade(@color-neutral-70, 50%);

		&:hover { color: fade(@color-neutral-70, 20%); }

	    &:before {	
			position: absolute;
			left: -4px;
			top: 0;
			right: 0;
			bottom: 0;
			font-family: 'Flaticons Stroke';
		    speak: none;
		    font-size: 22px;
		    font-style: normal;
		    font-weight: normal;
		    visibility: visible;
		    line-height: 1;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		}


	}

    .ui-icon-circle-check:before { content: "\e5a2"; }
}

// content: "\e5a3"; 